* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0 ;
    padding: 0 ;
}
button{
    width: 196.5px;
    height: 55px;
    border: 1px solid #dc4f72;
    color: #dc4f72;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #2C3038;
}
/* HEADER */
header{
    box-shadow: 0 0 30px #00000021;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}
.header-container hr{
    width: 30px;
}
.header-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
}
.header-logo{
    color: #dc4f72;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-right: 280px;
}
.navbar a{
    margin: 0 15px;
    font-weight: 400;
    font-size: 16px;
}
.navbar a span{
    font-size: 10px;
    font-weight: 400;
}
.navbar a span i{
    transform: translateY(-2px);
    margin-left: 2px;
}
.schedule-button button{
   transform: translateX(-33px);
   transition: all 0.5s;
}
.schedule-button button:hover{
    background-color: #dc4f72;
    color: #fff;
    border: none;
}
.navbar{
    position: relative;
    display: flex;
    margin-right: 10px;
}
.header-container hr{
    width: 20px;
    height: 2px;
    color: #dc4f72;
    background-color: #dc4f72;
    top: 20px;
    right: 30px;
    transform: translateX(0px);
    opacity: 0;
    transition:  all 0.5s;
    border: none;
    margin-top: 3px;
}
.navbar-hr:hover hr{
    transform: translateX(15px);
    opacity: 1;
}
/* CAROUSEL */
.carousel{
    background-image: url(./image/banner.jpg),linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92));
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
}
.carousel-container{
    background: #fffffff2;
    height: 100%;
}
.carousel-container{
    display: flex;
    justify-content: center;

}
.carousel-image img{
    transform: rotate(180deg);
}
.carousel-text p:first-of-type{
    font-size: 50px;
    color: #2C3038;
    font-weight: 700;
    line-height: 57.5px;
}
.carousel-text p:nth-of-type(2){
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #5a5a5a;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.carousel-text button{
    width: 155px;
    transition: all 0.5s;
}
.carousel-text button:hover{
    background-color: #dc4f72;
    color: #fff;
    border: none;
}
.carousel-text{
    width: 38%;
    padding-top: 175px;
    margin-left: 15px;
}
.carousel-image{
    margin-right: 100px;
    margin-top: 85px;
}
/* CHOOSE US */
.choose-text{
    margin: 50px auto;
    text-align: center;

}
.choose-text p:first-of-type{
    color: #dc4f72;
    font-size: 16px;
    font-weight: 700;
}
.choose-text p:nth-of-type(2){
    font-size: 46px;
    font-weight: 700;
    width: 50%;
    margin: auto;
    line-height: 1;
    margin-top: 5px;
}
.choose-text p:nth-of-type(3){
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;
    width: 50%;
    margin: 20px auto 60px auto;
}
.choose-info{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.choose-item{
    width: 24%;
    background-color: #F7F9FC;
    margin: 0 15px;
    transition: all 0.5s;
    border-radius: 5px;
}
.choose-item img{
    margin-top: 50px;
}
.choose-item h1{
    margin-top: 15px;
}
.choose-item p{
    margin-bottom: 50px;
    margin-top: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.choose-info .choose-item:hover{
    background-color: #fff;
    box-shadow:  0 0 10px #2c303826;
    transform: translateY(-5px);
}
/* ABOUT COMPANY */
.about-company{
    background-color: #F7F9FC;
    margin-top: 70px;
}
.about-container{
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.about-image img{
    width: 100%;
    border-radius: 5px;
}
.about-image{
    width: 45%;
    margin-left: 30px;
    margin-top: 80px;
}
.about-text{
    width: 50%;
    margin-left: 30px;
    margin-top: 80px;
}
.about-text h1{
    font-size: 16px;
    color: #dc4f72;
    font-weight: 700;
}
.about-text p:first-of-type{
    font-size: 35px;
    color: #2C3038;
    font-weight: 700;
}
.about-text p:nth-of-type(2){
    font-size: 16px;
    color: #5a5a5a;
    font-weight: normal;
    line-height: 24.4px;
}
.about-text button{
    width: 150px;
}