* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0 ;
    padding: 0 ;
}
button{
    width: 196.5px;
    height: 55px;
    border: 1px solid #dc4f72;
    color: #dc4f72;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #2C3038;
}
body{
    position: relative;
}
/* HEADER */
header{
    box-shadow: 0 0 30px #00000021;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}
.header-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
}
.header-logo{
    color: #dc4f72;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-right: 280px;
}
.navbar a{
    margin: 0 15px;
    font-weight: 400;
    font-size: 16px;
}
.navbar a span{
    font-size: 10px;
    font-weight: 400;
}
.navbar a span i{
    transform: translateY(-2px);
    margin-left: 2px;
}
.schedule-button button{
   transform: translateX(-33px);
   transition: all 0.5s;
}
.schedule-button button:hover{
    background-color: #dc4f72;
    color: #fff;
    border: none;
}
.header-container .line1{
    width: 20px;
    height: 2px;
    color: #dc4f72;
    background-color: #dc4f72;
    top: 20px;
    right: 30px;
    transform: translateX(0px);
    opacity: 0;
    transition:  all 0.5s;
    border: none;
    margin-top: 3px;
}
.navbar-hr:hover .line1{
    transform: translateX(15px);
    opacity: 1;
}
.navbar{
    position: relative;
    display: flex;
    margin-right: 10px;
}
.dropdown{
    position: absolute;
    background-color: #fff;
    height: 120px;
    width: 40%;
    border-radius: 5px;
    right: 30px;
    box-shadow: 0 0 30px #2C303836;
    display: none;
}
.dropdown li{
    list-style: none;
    text-align: left;
    width: 100%;
    height: 25px;
    cursor: pointer;
}
.dropdown-list{
    margin-top: 10px;
}
.line2{
    width: 20px;
    height: 3px;
    color: #dc4f72;
    background-color: #dc4f72;
    position: absolute;
    transform: translateX(20px);
    opacity: 0;
    transition: all 0.5s;
    border: none;
}
.dropdown .dropdown-list:hover .line2{
    transform: translateX(30px);
    opacity: 1;
}
header .navbar .navbar-pages:hover .dropdown{
    display: block;
}

/* CAROUSEL */
.carousel{
    background-image: url(./image/banner.jpg),linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92));
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
}
.carousel-container{
    background: #fffffff2;
    height: 100%;
}
.carousel-container{
    display: flex;
    justify-content: center;

}
.carousel-image img{
    transform: rotate(180deg);
}
.carousel-text p:first-of-type{
    font-size: 50px;
    color: #2C3038;
    font-weight: 700;
    line-height: 57.5px;
}
.carousel-text p:nth-of-type(2){
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #5a5a5a;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.carousel-text button{
    width: 155px;
    transition: all 0.5s;
}
.carousel-text button:hover{
    background-color: #dc4f72;
    color: #fff;
    border: none;
}
.carousel-text{
    width: 38%;
    padding-top: 175px;
    margin-left: 15px;
}
.carousel-image{
    margin-right: 100px;
    margin-top: 85px;
}
/* CHOOSE US */
.choose-text{
    margin: 50px auto;
    text-align: center;

}
.choose-text p:first-of-type{
    color: #dc4f72;
    font-size: 16px;
    font-weight: 700;
}
.choose-text p:nth-of-type(2){
    font-size: 46px;
    font-weight: 700;
    width: 50%;
    margin: auto;
    line-height: 1;
    margin-top: 5px;
}
.choose-text p:nth-of-type(3){
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;
    width: 50%;
    margin: 20px auto 60px auto;
}
.choose-info{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.choose-item{
    width: 24%;
    background-color: #F7F9FC;
    margin: 0 15px;
    transition: all 0.5s;
    border-radius: 5px;
}
.choose-item img{
    margin-top: 50px;
}
.choose-item h1{
    margin-top: 15px;
}
.choose-item p{
    margin-bottom: 50px;
    margin-top: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.choose-info .choose-item:hover{
    background-color: #fff;
    box-shadow:  0 0 10px #2c303826;
    transform: translateY(-5px);
}
/* ABOUT COMPANY */
.about-company{
    background-color: #F7F9FC;
    margin-top: 70px;
}
.about-container{
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.about-image img{
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 0 30px #2c303829;
    transition: all 0.5s;
}
.about-image img:hover{
    transform: translateY(-10px);
}
.about-image{
    width: 45%;
    margin-left: 30px;
    margin-top: 80px;
}
.about-text{
    width: 50%;
    margin-left: 30px;
    margin-top: 80px;
}
.about-text h1{
    font-size: 16px;
    color: #dc4f72;
    font-weight: 700;
}
.about-text p:first-of-type{
    font-size: 35px;
    color: #2C3038;
    font-weight: 700;
    width: 80%;
    line-height: 40px;
}
.about-text p:nth-of-type(2){
    font-size: 16px;
    color: #5a5a5a;
    font-weight: normal;
    line-height: 24.4px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 90%;
}
.about-text button{
    width: 150px;
    background-color: #dc4f72;
    color: #fff;
}
/* NUMBER */
.number-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F9FC;
}
.number-item{
    width: 24%;
    margin: 80px 15px 60px 15px;
    background-color: #fff;
    box-shadow: 0 0 30px #2c30380f;
    transition: all 0.5s;
    border-radius: 5px;
}
.number-item:hover{
    box-shadow: 0 0 30px #2c303821;
}
.number-item h1{
    font-size: 16px;
    color: #2C3038;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
}
.number-item p:first-of-type{
    color: #dc4f72;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 800;
    margin-left: 30px;
}
.number-item p:nth-of-type(2){
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 90%;
}
/* STATEMENT */
.statement{
    background-image: url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.statement-container{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
    background: linear-gradient(to right,#000000ab,#00000063 );
    
}
.statement-container p:first-of-type{
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    width: 40%;
    margin-left: 190px;
    
}
.statement-container p:nth-of-type(2){
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
    width: 37%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 190px;
}
.statement button{
    width: 150px;
    border: none;
    margin-left: 190px;
    color: #2C3038;
    transition: all 0.5s;
}
.statement button:hover{
    background-color: #d7d7d7;
}
/* solutions */
.solutions-header{
    margin: 30px auto;
    text-align: center;

}
.solutions-header h1{
    font-size: 16px;
    color: #dc4f72;
    font-weight: 700;
}
.solutions-header h2{
    font-size: 46px;
    color: #2C3038;
    font-weight: 700;
    margin-bottom: 10px;
}
.solutions-header p{
    width: 50%;
    margin: 0 auto;
    color: #5a5a5a;
}
.solutions-info{
    display: flex;
    justify-content: center;
}
.solutions-info img{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
    filter: grayscale(100%);
}
.solutions-item{
    width: 24%;
    border-radius: 5px;
    margin: 50px 15px;
    border: 1px solid #e1e7f1e6;
    position: relative;
    transition: all 0.5s;
}
.solutions-item p:first-of-type{
    width: 37%;
    border-top-right-radius: 5px;
    height: 12%;
    background-color: #dc4f72;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 700;
    z-index: 5;
}
.solutions-item h1{
    font-size: 13px;
    font-weight: 600;
    width: 22%;
    height: 5.5%;
    border-radius: 20px;
    text-align: center;
    padding-top: 7px;
    background-color: #dc4f72;
    margin: 20px 0 20px 20px;
}
.solutions-info .solutions-item .business{
    background-color: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}
.solutions-info .solutions-item .design{
    background-color: rgba(0, 128, 0, 0.2);
    color: #008000;
}
.solutions-info .solutions-item .industry{
    background-color: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}
.solutions-item h2{
    font-size: 22px;
    font-weight: 600;
    color: #2C3038;
    margin-left: 20px;
}
.solutions-item p:nth-of-type(2){
    font-size: 16px;
    color: #5a5a5a;
    width: 90%;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.solutions-item a{
    margin: 25px 0 45px 20px;
    display: block;
}
.solutions-item hr{
    width: 86%;
    margin: 0 auto;
    border: none;
    background-color:#2c303824;
    height: 1px;
}
.solutions-item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 15px #2c303821;
}
/* QUESTIONS */
.questions{
    background-color: #F7F9FC;
}
.questions-header{
    margin: 0 auto;
    text-align: center;
}
.questions-header h1{
    font-size: 16px ;
    color: #dc4f72;
    font-weight: 700;
}
.questions-header h2{
    font-size: 46px;
    font-weight: 700;
    color: #2C3038;
}
.questions-header p{
    font-size: 16px;
    font-weight: 400;
    color: #5a5a5a;
    width: 50%;
    margin: 10px auto 60px auto;
}
.questions-list{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.questions-image{
    width: 31%;
    margin-right: 70px;

}
.questions-image img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 30px #2C303836;
    transition: all 0.5s;
}
.questions-image img:hover{
    transform: translateY(-10px);
}
.questions-text{
    width: 40%;
    padding-bottom: 18px;
}
.questions-list .questions-text button{
    width: 100%;
    height: 68px;
    margin-top: 20px;
    position: relative;
    border: none;
}
.questions-text button p:first-of-type{
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    padding-top: 10px;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    color: #2C3038;
}
.questions-text button p:nth-of-type(2){
    display: none;
    transition: all 1s ease 0.5s;
    height: auto;
    position: absolute;
    top: 60px;
    text-align: left;
    padding: 0 10px;
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    font-weight: 400;
}
.questions-text button:hover p:nth-of-type(2){
    display: block;
    
}
.questions-text button:hover{
    height: 150px;
}
.questions-text button  span {
    position: absolute;
    right: 20px;
    top: 20px;
}
.questions-container{
    padding-top: 100px;
    padding-bottom: 80px;
}
/* PROJECTS CASES*/
.cases-container{
    width: 85%;
    margin: 0 auto;
}
.cases-header{
    margin: 0 auto;
    text-align: center;
}
.cases-header h1{
    color: #dc4f72;
    font-size: 16px;
}
.cases-header h2{
    font-size: 46px;
    color: #2C3038;
    font-weight: 700;
}
.cases-header p{
    width: 62%;
    margin: 0 auto;
    margin-top: 20px;
}
.projects-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.projects-title hr{
    width: 332px;
    height: 2.5px;
    background-color: #2C303857;
    border: none;
    transform: translateX(-50px);
}
.projects-title .project1 hr{
    background-color: #dc4f72;
}
.projects-title button{
    border: none;
   
}
.projects-title button:nth-of-type(2){
    margin: 0 135px;
}
.projects-title button h1{
    color: #4E5B61;
    font-size: 22px;
    font-weight: 800;
    width: 200px;
    height: 40px;
}
.project1,.project2,.project3{
    width: 25%;
    text-align: center;
}
.button-p1 .project1 h1{
    color: #dc4f72;
}
.projects-info1,.projects-info2,.projects-info3{
    display: flex;
    justify-content: center;
    margin-top: 34px;
}
.projects-info .projects-info2, .projects-info .projects-info3{
    margin-top: 68px;
}
.projects-info1 .projects-texts, .projects-info3 .projects-texts{
    margin-right: 30px;
}
.projects-info2 .projects-texts{
    margin-left: 30px;
}
.projects-info .projects-texts h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 36px;
}
.projects-info .projects-texts p{
    margin-bottom: 32px;
    line-height: 24.5px;
}
.projects-info .projects-texts button{
    width: 35%;
    transition: all 0.5s ease;
}
.projects-info .projects-texts button:hover{
    background-color: #dc4f72;
    color: #fff;
    border: none;
}
.projects-texts{
    width: 35%;
}
.projects-images{
    width: 35%;
}
.projects-images img{
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}
.projects-images img:hover{
    transform: translateY(-10px);
}
.projects-info{
    position: relative;
}
.projects-info2{
    position: absolute;
    top: -35px;   
    display: none; 
    z-index: 2;
}
.projects-info3{
    position: absolute;
    top: -35px;
    display: none;
    z-index: 3;
}
/* TESTIMONIAL */
.testimonials{
    margin-top: 300px;
    position: absolute;
    top: 4700px;
    background-image: url(./image/b2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.testimonials-container{
    background: #ffffff9c;
    text-align: center;
    height: 600px;
}
.testimonials-header h1{
    font-size: 16px;
    font-weight: 700;
    color: #dc4f72;
    padding-top: 80px;
}
.testimonials-header h2{
    font-size: 46px;
    font-weight: 700;
    margin-bottom: -5px;
}
.testimonials-header p{
    font-size: 16px;
    width: 50%;
    margin: 20px auto;
}
.testimonials-slides{
    display: flex;
    justify-content: center;
}
.tes-items{
    display: flex;
    width: 35%;
    justify-content: center;
    background-color: white;
    position: relative;
    margin: 0 20px;
}
.tes-items img {
    border-radius: 50%;
    width: 100%;
    height: 39%;
    margin-top: 30px;
    border: 3px solid #dc4f72;
}
.tes-img{
    width: 100%;
    margin-right: 50px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    margin-left: 20px;
    border-radius: 5px;
  
}
.tes-items .tes-text h1{
    font-size: 18px;
    font-weight: 400;
    color: #dc4f72;
    text-align: left;
    margin-bottom: 5px;
}
.tes-items .tes-text h2{
    font-size: 13px;
    color: #5a5a5a;
    font-weight: 400;
    text-align: left;
    margin-bottom: 30px;
}
.tes-items .tes-text span{
    position: absolute;
    top: 15px;
    left: 130px;
    font-size: 40px;
    color: #2c303836;

}
.tes-items .tes-text p{
    font-size: 18px;
    color: #2C3038;
    line-height: 26px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
/* READY */
.ready{
    position: absolute;
    top: 5600px;
    width: 100%;
}
.ready-header p{
    margin: 20px auto;
    width: 50%;
    text-align: center;
}
.ready-header h1{
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 46px;
    font-weight: 700;
    color: #2C3038;
    width: 60%;        
    margin-top: 60px;
    line-height: 1;
}
.ready-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 60px;
}
.ready-btn button{
    margin: 0 10px;
    width: 160px;
    transition: all 0.5s
}
.ready-btn button:first-of-type:hover{
    background-color: #dc4f72;
    color: #fff;
}
.ready-btn button:nth-of-type(2){
    background-color: #dc4f72;
    color: #fff;    
}
.ready-btn button:nth-of-type(2):hover{
    background-color: #d71e4c;
}
/* Footer */
footer{
    position: absolute;
    top: 5999px;
    width: 100%;
    background-color: #F7F9FC;
}
.footer-info{
    display: flex;
    justify-content: space-around;
    width: 83%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-items h1{
    font-size: 20px;
    font-weight: 700;
    color: #2C3038;
    margin-bottom: 30px;
}
.footer-items ul li{
    list-style: none;
    margin-bottom: 15px;
}
.footer-items ul li a{
    color: #656f7b;
    font-size: 15px;
}
.newsletter{
    background-color: #fff;
    box-shadow: 0px 0px 30px #2C30381c; 
    border-radius: 5px;
    height: 220px;
}
.newsletter h3{
    font-size: 18px;
    font-weight: 500;
    color: #2C3038;
    padding: 30px 0 30px 30px;
    display: block ;
}
.newsletter button{
    width: 90px;
    height: 45px;
    font-size: 16px;
    background-color: #dc4f72;
    color: #fff;
}
.email{
    display: flex;
    justify-content: center;
}
.newsletter input{
    width: 350px;
    font-size: 16px;
    color: #2C3038;
    font-weight: 600;
    background-color: #F7F9FC;
    border: none;
}
.newsletter p{
    width: 95%;
    margin: 15px auto;
    padding-left: 20px;
}
.copy{
    display: flex;
}
.copy span{
    margin-left: 10px;
    border-left: 1px solid black;
    padding-left: 10px;
    height: 20px;
}
.footer-icons{
    display: flex;
    width: 77%;
    margin: 30px auto;
    justify-content: space-between
    
}
.icons i{
    margin-left: 30px;
}
footer hr{
    width: 75%;
    margin: 0 auto;
    border: none;
    background-color: #d7d7d796;
    height: 0.5px;
}